<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>
    <style>
        .tag{
            color:aqua; 
            font-family: sans-serif;
            margin-left: 300px;
        }
        .t{
            font-size: 100px;
            margin-bottom: 0px;
            margin-top: 0px;
        }
    </style>
</head>
<body>
    <h1 class="t">congratulations</h1>
    <h2 class="tag">you have logged in successfully 	&#128509;</h2>
</body>
</html>